#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

html,
body {
    padding: 0;
    margin: 0;
    /* background-color: #161616; */
    /* background-image: url("bg-old.png"); */
    /* background-repeat: none; */
    /* background-size: 220px; */
    font-family: "Poppins", sans-serif;
}

.bg {
    /* The image used */
    position: absolute;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("2.png");

    /* background: rgb(34, 181, 54);
    opacity: 0.5; */
    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 2s ease-in-out;
    z-index: -1;
}

.soonbyte {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
}

.br {
    display: block;
    margin-top: 0.8em;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
}

.icon {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
}

.hidden {
    display: none;
}

/* Credits Div */
.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 7%;
    /* bottom: 5px; */
    margin: 0 auto;
}

.primary {
    color: #d618f2;
    font-weight: 500;
}

/* Offline page */

.offline .interstitial-wrapper {
    color: #0e0e0e;
    font-size: 1em;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 20px;
    width: 100%;
}

.offline .runner-container {
    height: 420px;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    /* padding-top: 300px; */
    width: 44px;
}

.offline .runner-canvas {
    height: 420px;
    max-width: 600px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
}

.offline .controller {
    background: rgba(247, 247, 247, 0.1);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#offline-resources {
    display: none;
}

#progressbar {
    z-index: 99999;
    background-color: #dedede;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 50px;
    height: 3vh;
    width: 50vw;
}

#progress {
    width: 0%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    background-color: #d618f2;
}

#loading {
    display: flex;
    justify-content: space-around;
    z-index: 99999;
    color: #fff;
    width: 11vw;
}

@media (max-width: 600px) {
    .suggested-left > #control-buttons,
    .suggested-right > #control-buttons {
        float: none;
    }
    .snackbar {
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-height: 350px) {
    h1 {
        margin: 0 0 15px;
    }
    .icon-offline {
        margin: 0 0 10px;
    }
    .interstitial-wrapper {
        margin-top: 5%;
    }
    .nav-wrapper {
        margin-top: 30px;
    }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
    .offline .interstitial-wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation: landscape) {
    .interstitial-wrapper {
        margin-bottom: 100px;
    }
}

@media (min-height: 240px) and (orientation: landscape) {
    .offline .interstitial-wrapper {
        margin-bottom: 90px;
    }
    .icon-offline {
        margin-bottom: 20px;
    }
}

@media (max-height: 320px) and (orientation: landscape) {
    .icon-offline {
        margin-bottom: 0;
    }
    .offline .runner-container {
        top: 10px;
    }
}

@media (max-width: 600px) {
    .interstitial-wrapper {
        overflow: inherit;
        padding: 0 8px;
    }
}
